@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main-container {
  @apply container flex flex-col items-center mx-auto max-w-screen-lg justify-center
}

.main-header-text {
  @apply text-slate-100 text-center md:text-left
}

.main-menu-item {
  @apply flex flex-col justify-start items-center
}

.main-menu-item-text {
  @apply text-sm md:text-lg text-center
}